<div class="container">
    <div class="logo">
      <img id="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSliUTKELhuS2yYxjyfaGMMhJXu4VuwOLWuKXF_d-9ljEr4Rp4c">
      <h1>EAT DAT BURGER!!</h1>
    </div>
  
    <div class="container">
    <div class="row">
      <div class="col-md-6" id="createburger">
        <h2>Add a Burger</h2>
        <form class="create-update-form" action="/" method="POST">

          <div class="form-group">
            <label for="burgername">Burger Name:</label>
            <input type="text" id="burgername" name="burgnam">
          </div>

          <button type="submit">Add Burger</button>
        </form>
      </div>

      <div class="col-md-6">
        <div class="row">
        <ul>
          {{#each burgers}}
            {{#unless this.devoured}}
              <li>
                {{this.burger_name}}
                {{>delete-burger}}
              </li>
            {{/unless}}
          {{/each}}
        </ul>
      </div>
      <div class="row">For devoured</div>
    </div>
  </div>


</div>