<div class="container">
      <div class="row">
          <div class="col-lg-12">
            <h1>EAT DAT BURGER!!</h1>
          </div>
      </div>
      <hr>

      <section>
        <div class="row">
          <p id="instruct">
            This site allows you to enter some of your favorite foods(In this case burgers), and add them to a database. Then if you ever eat that burger, you can update the database by simply clicking 'DELETE', and the burger will be removed from the database. Try it out!
          </p>
        </div>
      </section>
  
    <div class="container">
    <div class="row" id="stage">
      <div class="col-md-6" id="createburger">
        <h2>Add a Burger</h2>
        <form class="create-update-form" action="/" method="POST">

          <div class="form-group">
            <label for="burgername">Burger Name:</label>
            <input type="text" id="burgername" name="burgnam">
          </div>

          <button type="submit">Add Burger</button>
        </form>
      </div>

      <div class="col-md-6">
        <h2>Saved Burgers</h2>
        <div class="row">
        <ul>
          {{#each burgers}}
            {{#unless this.devoured}}
              <li>
                {{this.burger_name}}
                {{>delete-burger}}
              </li>
            {{/unless}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>


</div>