#createburger {
    text-align: center;
}

#bodycss {
    background-image: url("images/best-burgers-hero.jpg");
}

h1 {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Permanent Marker', cursive;
    color: white;
}

#logo {
    border-color: black;
    display: block;
    margin: 0 auto;
    height:201px;
    width:201px;
}